**/*.swp
**/.DS_Store
*.db
*.sqlite
*.sqlite3
*.swp
*~
.#*
.DS_Store
.hg/*
.hgignore
.svn/*
TAGS
config/*.sphinx.conf
config/database.yml
coverage
db/*.sqlite3
db/sphinx/
doc
doc/plugins/*
log/*
log/*.log
log/*.pid
public/stylesheets/*.css
public/uploads/**/*
schema.rb
tmp/*
tmp/**/*
