<div id="add_task">
  <% remote_form_for(task, :update => "task-list", :position => "bottom") do |f| %>
    <%= f.error_messages %>

    <%= f.text_field :entry, :value => "What do you want to do today?" %>
    <%= f.submit submit ||= 'Add a task' %>
  <% end %>
</div>

