<!-- input form -->
<div class="col1 input-form">
  <div class="input-box">
    <%= render 'form', :task => Task.new %>
  </div>
</div>

<div class="col1 task-list" id="task-list">
  <div class="task">
    <li class="button">&nbsp;</li>
    <li class="description">Do some #<span id="tag">studying</span> or schoolwork</li>
  </div>

  <div class="task">
    <li class="button">&nbsp;</li>
    <li class="description">Go grocery #<span id="tag">shopping</span> for dinner party</li>
  </div>

  <div class="task">
    <li class="button">&nbsp;</li>
    <li class="description">Make and launch this webapp</li>
  </div>

  <div class="task" id="complete">
    <li class="button">&nbsp;</li>
    <li class="description">Create static HTML concept page</li>
  </div>

  <div class="task" id="complete">
    <li class="button">&nbsp;</li>
    <li class="description">This task is also #complete</li>
  </div>

  <%= render @tasks %>
</div>

