<%= link_to_days(@day) %>

<!-- input form -->
<div class="col1 input-form">
  <div class="input-box">
    <%= render 'form', :task => Task.new %>
  </div>
</div>

<div class="col1 task-list" id="task-list">
  <%= render @tasks %>
</div>

